apache-airflow==2.9.1
apache-airflow-providers-celery
apache-airflow-providers-snowflake
pandas
requests
openpyxl
python-dotenv
dbt-core==1.8.0
dbt-snowflake==1.8.0
sqlalchemy
snowflake-connector-python
snowflake-sqlalchemy